@-ms-viewport{
  width: device-width;
}

$ltblue: rgba(9, 136, 233, 1);
$dkltblue: rgba(7, 108, 185, 1);
$grblue: teal;

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

/******** DEFAULT BODY STYLES ********/

body {
  background-image: url('/img/bg-stock.jpg');
  // https://s-media-cache-ak0.pinimg.com/originals/c4/13/cd/c413cda90d2d6b933b84f15669640a19.jpg
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/******** HEADER STYLES ********/
.navbar-header {
  margin-top: -10px;
  width: 200px;
}

#logo {
  width: 100%;
  border-radius: 12px;
  padding: 5px;
}

.nav ul {
  font-size: 1.4em;
  padding-top: 5px;
}

#logo:hover,
.nav ul li:hover {
  cursor: pointer;
}

.navbar-right {
  padding-top: 20px;
  padding-right: 10%;
  font-style: italic;
}

/******** CONTAINER POSITION ********/

.section-container {
  padding: 5% 5%;
}

#intro {
  width: 100%;
  background: rgba(0,0,0,0.1);
  margin-top: 5%;
  padding: 4%;
}

#offerings {
  padding: 1% 5%;
  background-color: $grblue;
}

#estimate {
  background-color: $grblue;
  padding: 4% 5%;
}

#dantes-carousel {
  max-width: 60%;
  margin: 0 auto;
}

#dantes-inner .item img {
  width: 100%;
}

/******** DEFAULT FORM STYLES ********/
form label {
  display: block;
}

/******** FOOTER ********/
footer {
  background-color: $ltblue;
  color: white;
  min-width: 100%;
  margin: 0;
}

.contact-list,
.mailing-address {
  list-style: none;
  padding-left: 1%;
}

.copyright {
  background-color: $dkltblue;
}

/******** MEDIA QUERIES ********/


/******** END ********/
