h2 Get a FREE Estimate!
.estimate-form.container
  form#estimate-form.form-horizontal()
    .form-group
      label.col-sm-1(for="estimate-first") First Name
      .col-sm-4
        input(type="text" id="estimate-first" placeholder="First Name")
        p Example: Colin
      label.col-sm-1(for="estimate-first") Last Name
      .col-sm-4
        input(type="text" id="estimate-last" placeholder="Last Name")
        p Example: Davis
    .form-group
      label.col-sm-1(for="estimate-email") Email
      .col-sm-4
        input(type="text" id="estimate-email" ng-model="estimate.email")
        p Example: colin@gmail.com
      label.col-sm-1(for="estimate-phone") Phone
      .col-sm-4
        input(type="tel" id="estimate-phone" ng-model="estimate.phone")
        p Example: (555) 555-5555
    .form-group
      label.col-sm-1(for="estimate-street") Address
      .col-sm-4
        input(type="text" id="estimate-street" ng-model="estimate.street")
        p Example: 123 Fake Street
    .form-group
      .col-sm-offset-1.col-sm-4
        input(type="text" id="estimate-street2" ng-model="estimate.street2")
        p Example: Apt. 1A
    .form-group
      label.col-sm-1(for="estimate-city") City
      .col-sm-4
        input(type="text" id="estimate-city")
        p Example: Warwick
    .form-group
      label.col-sm-1(for="estimate-state") State
      .col-sm-4
        select(id="estimate-state")
          option(value="") State
          option(value="RI") RI
          option(value="MA") MA
    .form-group
      label.col-sm-1(for="estimate-message") Message (i.e. what you want done)
      .col-sm-8
        textarea(id="estimate-message")
    .form-group.work-type.col-sm-4
      h3 Type of Work
      label()
        input(type="checkbox" value="New Construction")
        | &nbsp; New Construction
      label()
        input(type="checkbox" value="Kitchen & Bathroom")
        | &nbsp; Kitchen & Bathroom
      label()
        input(type="checkbox" value="Basement Remodels")
        | &nbsp; Basement Remodels
      label()
        input(type="checkbox" value="Concrete Construction")
        | &nbsp; Concrete Construction
    .form-group.contact-time.col-sm-4
      h3 Contact Time
      label()
        input(type="checkbox" value="Morning" ng-model="estimate.time.morning")
        | &nbsp; Morning
      label()
        input(type="checkbox" value="Afternoon" ng-model="estimate.time.afternoon")
        | &nbsp; Afternoon
      label()
        input(type="checkbox" value="Evening" ng-model="estimate.time.evening")
        | &nbsp; Evening
      label()
        input(type="checkbox" value="Anytime" ng-model="estimate.time.anytime")
        | &nbsp; Anytime
    .form-group.project-status.col-sm-4
      h3 Project Status
      label()
        input(type="checkbox" value="Consultation" ng-model="estimate.status.consultation")
        | &nbsp; Consultation
      label()
        input(type="checkbox" value="Planning" ng-model="estimate.status.planning")
        | &nbsp; Planning
      label()
        input(type="checkbox" value="Hiring" ng-model="estimate.status.hiring")
        | &nbsp; Hiring

    button(type="submit") Submit Estimate
