.row
  .col-md-3
    h4 Contact Us
    .col-md-6
      ul.contact-list
        li
          i.fa.fa-phone(aria-hidden="true")
          span (401) 426-7042
        li
          i.fa.fa-envelope-o(aria-hidden="true")
          span E-Mail
  .col-md-3
    h4 Mailing Address
    ul.mailing-address
      li Dante's Construction, LLC
      li 40 Mill Wheel Rd.
      li Warwick, RI 02886
  .col-md-6
    h4 Our Mission
    .col-md-12
      p With our attention to detail and dedication to delivering the highest quality work possible, you can rest assured knowing that your project is in the hands of an extremely talented, dedicated and knowledgeable construction team. Serving areas throughout New England.

.row.copyright
  .col-md-12
    p 2016 Dante's Construction, LLC. All Rights Reserved.
