#intro.section-container
  .text-container
    h1 Dante's Construction

    h4 Dante's Construction is a construction and concrete company specializing in all aspects of construction and concrete work, for both commercial and residential customers. As a construction and concrete company serving throughout RI and its surrounding areas, we serve the New England region on projects ranging from new construction to fit out and renovation jobs.

    h4 We actively service private, municipal, state and federal projects. Dante's Construction takes pride in meeting and exceeding the needs of our clients, making sure the concrete pouring or repair project is completed on time, on or below budget and they are truly satisfied with the results.

#offerings.section-container
  .text-container
    h2 Our Services
    h3 What we offer:
    ul
      li New Construction
      li Roofing and Exterior
      li Kitchen and Bathroom
      li Basement Remodels
      li Concrete Construction

  #dantes-carousel.carousel.slide(date-ride="carousel")
    ol.carousel-indicators

    #dantes-inner.carousel-inner(role="listbox")


    a.left.carousel-control(href="#dantes-carousel" role="button" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      span.sr-only Previous

    a.right.carousel-control(href="#dantes-carousel" role="button" data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      span.sr-only Next
